body {
	text-align: center;
	font-family: 'Noto Serif TC', sans-serif;
}

label {
	margin-right : 20px;
	font-family: 'Quicksand', sans-serif;
}

input {
	margin-top: 20px;
	font-family: 'Quicksand', sans-serif;
}

#submitbutton {
	border: none;
	border-radius: 5px;
}

div {
	margin: 25px;
	border-radius: 20px;
}

a {
	color: black;
	font-family: 'Quicksand', sans-serif;
	text-decoration: none;
}

p {
	font-size: 25px;
}

textarea {
	width:1000px; 
	height:1000px; 
	font-size: 20px; 
	font-family: 'Quicksand', sans-serif;
}

#submitbutton {
	border: none;
	border-radius: 5px;
	padding: 7px;
}

button {
	font-family: 'Quicksand', sans-serif;
	border-radius: 10px;
}

li { 
	list-style-position:inside;
	padding: 10px;
}

iframe {
	margin: 30px;
}