body {
	text-align: center;
	font-family: 'Noto Serif TC', sans-serif;
}

label {
	margin-right : 20px;
	font-family: 'Quicksand', sans-serif;
}

input {
	margin-top: 20px;
	font-family: 'Quicksand', sans-serif;
}

#submitbutton {
	border: none;
	border-radius: 5px;
	padding: 7px;
}